@import '../../../stylesheets/imports.scss';

.button{
  color: $dark-purple;

  background-color: $light-green;

  display: flex;
  height: 4rem;
  width: 10rem;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  transition-duration: 0.3s;

  &:hover{
    opacity: 0.9;
  }

  &--big{
    width: 100%;
    max-width: 22rem;
    height: 6rem;
    font-size: 2rem;
  }
}