@import '../../../stylesheets/imports.scss';

.button{
  color: $dark-purple;

  background-color: $light-green;

  display: flex;
  height: 4rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
}