@import '../../stylesheets/imports.scss';

.footer-section{
  padding: 1rem 0;

  border-top: 0.1rem solid $light-purple;
  
  background-image: url(/assets/headerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}