.event-info{
  display: flex;

  padding: 5rem 0;

  @media only screen and (max-width: 800px){
    align-self: stretch;
    justify-content: space-between;
  }

  &__item{
    &:not(:last-child){
      margin-left: 5rem;
      @media only screen and (max-width: 800px){
        margin-left: 0;
      }
    }
  }
}