.event-info-item{
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 0 2rem;

  & &__icon{
    font-size: 6rem;
    margin-bottom: 1rem;
    @media only screen and (max-width: 800px){
      font-size: 4rem;
    }
  }

  &__text{
    text-align: center;
  }
}