.sponsors{
  padding: 1rem 0 1rem;
  &__title{
    text-align: center;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__item{
    margin-left: 2rem;
    @media only screen and (max-width: 500px){
      &:not(:last-child){
        margin-bottom: 3rem;
      }
    }
  }
}