.social-item{
  &__link{
    display: inline-block;
  }
  &__image{
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.6rem;
    box-sizing: border-box;
    transition-duration: 0.3s;
    &:hover{
      transform: scale(1.05);
    }
  }
}