@import '../../../../stylesheets/imports.scss';

.team-member{
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-bottom: 1rem;
  
  flex-basis: 20rem;
  &__avatar{
    width: 20rem;
    height: 20rem;
    
    border-radius: 50%;
    border: 0.5rem solid $light-purple;

    margin-bottom: 1rem;
  }
  &__desc{
    padding: 0.5rem 0;
    font-size: 1.2rem;
  }
}