@import '../../../../stylesheets/imports.scss';

.team-member{
  display: flex;
  flex-direction: column;
  text-align: center;

  @media only screen and (max-width: 800px){
    &:not(:last-child){
      margin-bottom: 3rem;
    }
  }
  
  flex-basis: 15rem;
  &__avatar{
    width: 15rem;
    height: 15rem;
    
    border-radius: 50%;
    border: 0.5rem solid $light-purple;

    margin-bottom: 1rem;
  }
  &__desc{
    padding: 0.5rem 0;
    font-size: 1.2rem;
  }
}