@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Shabnam;
  src: url('/assets/fonts/Shabnam.eot');
  src: url('/assets/fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Shabnam.woff') format('woff'),
       url('/assets/fonts/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('/assets/fonts/Shabnam-Bold.eot');
  src: url('/assets/fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Shabnam-Bold.woff') format('woff'),
       url('/assets/fonts/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('/assets/fonts/Shabnam-Light.eot');
  src: url('/assets/fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Shabnam-Light.woff') format('woff'),
       url('/assets/fonts/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}