@import '../../../../stylesheets/imports.scss';

.speaker{
  display: flex;
  flex-direction: column;

  &__header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image{
    width: 20rem;
    height: 20rem;

    margin-bottom: 1rem;

    border-radius: 50%;
    border: 0.5rem solid $light-purple;

    margin-bottom: 1rem;
  }

  &__name{
    padding: 0 0.5rem;
  }

  &__desc{
    font-size: 1.2rem;
    text-align: center;

    padding: 0.2rem 0;
  }
}