@import '../../../../stylesheets/imports.scss';

.nav-item{
  padding: 0 1rem;

  &__link{
    color: $text-color;

    text-decoration: none;

    display: flex;
    align-items: center;

    height: 100%;
    min-height: 3rem;

    transition-duration: 0.3s;

    &:hover{
      color: $light-green;
    } 
  }

  @media only screen and (max-width: 800px){
    margin-bottom: 1rem;
  }
}