@import '../../stylesheets/imports.scss';

.nav{
  max-width: 120rem;
  width: 100%;

  padding: 0 2rem;
  box-sizing: border-box;
  
  margin: auto;
  
  margin-top: 3rem;

  padding-bottom: 1rem;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;

  background-image: url('/assets/128x128\ str.png');
  background-repeat: no-repeat;
  background-position: 2rem -2.3rem;

  &__content{
    display: flex;
    align-items: center;

    padding-bottom: 1rem;

    height: 5rem;
  }

  &::after{
    content: '';
    background-image: linear-gradient(to left, $light-green, $light-purple);
    height: 0.1rem;
    width: calc(100% - 5rem);
  }
}